In [144]:
import os
import re
import pandas as pd
import numpy as np

In [258]:
df = pd.read_csv("./teste.tsv", sep="\t",)
df

  Col1 Col2 Col3 Col4 Col5    ma,me,mo,mu
0  Aba  Eba  Iba  Oba  Uba  0.4,0.6,1.5,0
1  Ata  Eta  Ita  Ota  Uta    1.6,0.1,0,0
2  Ala  Ele  Ile  Ole  Ule  0.9,0.3,1.8,1

In [193]:
df = pd.read_csv("./teste.tsv", sep="\t",)
df
df["option"] = np.where(df["ma,me,mo,mu"].str.split(",").str[0].astype(float) > 0.5, 'one','None')
df.drop("ma,me,mo,mu",axis=1)

  Col1 Col2 Col3 Col4 Col5 option
0  Aba  Eba  Iba  Oba  Uba   None
1  Ata  Eta  Ita  Ota  Uta    one
2  Ala  Ele  Ile  Ole  Ule    one

In [284]:
df = pd.read_csv("./teste.tsv", sep="\t",)

name=df.columns[-1].split(",")
value=len(name)
df['option']=''
for index,col in df.iterrows():
    for i in range(value):
        if abs(float(col[5].split(",")[i])) > 0.2:
            df.loc[index,'option'] += name[i]+','
df = df.drop("ma,me,mo,mu",axis=1)            
df

  Col1 Col2 Col3 Col4 Col5        option
0  Aba  Eba  Iba  Oba  Uba     ma,me,mo,
1  Ata  Eta  Ita  Ota  Uta           ma,
2  Ala  Ele  Ile  Ole  Ule  ma,me,mo,mu,

In [229]:
df = pd.read_csv("./teste.csv", sep="\t",)
df.loc[df["ma,me,mo,mu"].str.split(",").str[0].astype(float) > 0.5, 'Option'] = 1
df

  Col1 Col2 Col3 Col4 Col5                           ma,me,mo,mu  Option
0  Aba  Eba  Iba  Oba  Uba  0.4,0.6,1.5,kaka,keke,kiki,koko,kuku     NaN
1  Ata  Eta  Ita  Ota  Uta    1.6,0.1,0,lala,lele,lili,lolo,lulu     1.0
2  Ala  Ele  Ile  Ole  Ule  0.9,0.3,1.8,mama,meme,mimi,momo,mumu     1.0

0.2